<a href="https://colab.research.google.com/github/Manedk/AIArchitect/blob/main/data_structures_in_python_sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures in Python
This notebook gives an overview of data types and structures in Python. After going through the material you will be able work with the most important data types and structures. In addition, you will understand the concepts of methods and functions, as well as objects and classes.

# Basic Data Types in Python

![python_types](img/python_types.png)
https://de.wikipedia.org/wiki/Datei:Python_3._The_standard_type_hierarchy.png

## Boolean Values
* "Two constant objects `False` and `True`"
* "Used to represent trueth values"
* "In numeric contexts (...) they behave like the integers 0 and 1, respectively.
* Subtype of Integers

https://docs.python.org/3/library/stdtypes.html#boolean-values


### Boolean Operations

| Operation | Results | Note |
|:----------|:--------|:-----|
| `x or y`  | if x is false, then y, else x | short-circut operator (only evaluates the second arugment if the first one is false) |
| `x and y` | if x is false, then x, else y | short-circut operator (only evaluates the second argument if the first one is true) |
| `not x`   | if x is false, then `True`, else `False` | `not` has a lower priority then non-Boolean operators |

https://docs.python.org/3/library/stdtypes.html#boolean-operations-and-or-not

## Comparisons
* All have the same priority (but higher than Boolean operations)

| Operation | Meaning                 |
|:----------|:------------------------|
| `<`       | strictly less than      |
| `<=`      | less than or equal      |
| `>`       | strictly greater than   |
| `>=`      | greater than or equal   |
| `==`      | equal                   |
| `!=`      | not equal               |
| `is`      | object identity         |
| `is not`  | negated object identity |

https://docs.python.org/3/library/stdtypes.html#comparisons

In [ ]:
5 <= 3

False

In [ ]:
5 >= 3

True

In [ ]:
# check string values
'a' == 'b'

False

In [ ]:
'a' != 'b'

True

In [ ]:
# define some variables
a = 4
b = 2
c = a

In [ ]:
# check object identity of a and b
a is b

False

In [ ]:
# check object identity of a and c (c=a)
a is c

True

In [ ]:
# compare the values of a (4) and b (2)
a == b

False

Object identities can return unexpected results for small ints or short strings!

"However, for the sake of optimization (mostly) there are some exceptions for small integers (between -5 and 256) and small strings (interned strings, with a special length (usually less than 20 character)) which are singletons and have same id (actually one object with multiple pointer)." https://stackoverflow.com/a/38189759/6270819

In [ ]:
# define to variables with the same value
a = 3
b = 3

In [ ]:
# compare the value (3=3)
a == b

True

In [ ]:
# compare the object identity. this behavior is not expected because b != a
a is b

True

In [ ]:
# a and b have the same ID even though they are not defined as being the same object
id(a)

140707397673424

In [ ]:
id(b)

140707397673424

In [ ]:
# increase a by 1 and define a new variable c
a = a + 1
c = 4

In [ ]:
# now a and c share the same ID and b stays the same as before
id(a)

140707397673456

In [ ]:
id(b)

140707397673424

In [ ]:
id(c)

140707397673456

In [ ]:
# a is now 4 and b is still 3
a is b

False

In [ ]:
# a and c share the same ID so the object identity comparison returns True
a is c

True

### Exercises

1- https://codingbat.com/python/Logic-1

2- https://codingbat.com/python/Logic-2

## Numbers
### Integers
* Whole numbers
* Positive, negative, or zero
* Unlimited precision in Python

In [ ]:
i = 3
i

3

In [ ]:
type(i)

int

### Float
* Floating point numbers
* Usually implemented as `double` in C
* `sys.float_info` shows information about the precision of floats in your system

In [ ]:
f = 3.2
f

3.2

In [ ]:
type(f)

float

In [ ]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

**Operations for integers and floats**

| Operation           | Result   |
|:--------------------|:----------|
|  `x + y`            | sum of x and y |
|  `x - y`            | difference of x and y |
|  `x * y`            | product of x and y |
|  `x / y`            | quotient of x and y |
|  `x // y`           | floored quotient of x and y (returns integer)|
|  `x % y`            | remainder of `x / y` |
|  `-x`               | x negated |
|  `+x`               | x unchanged |
|  `abs(x)`           | absolute value or magnitude of x |
|  `int(x)`           | x converetd to integer |
|  `float(x)`         | x converted to floating point |
|  `complex(re, im)`  | a complex number with real part re and imaginary part im (default is zero) |
|  `c.conjugate()`    | conjugate of the complex number c |
|  `divmod(x, y)`     | the pair `(x // y, x % y)` |
|  `pow(x, y)`        | x to the power of y |
|  `x ** y`           | x to the power of y |
| `math.trunc(x)`     | x truncated to [Integral](https://docs.python.org/3/library/numbers.html#numbers.Integral) |
| `round(x[, n])`     | x rounded to $n$ digits, rounding half to even. $n$ defaults to 0. |
| `math.floor(x)`     | the greatest [Integral](https://docs.python.org/3/library/numbers.html#numbers.Integral) <= x |
| `math.ceil(x)`      | the least [Integral](https://docs.python.org/3/library/numbers.html#numbers.Integral) >= x |

**Remarks**
* "Python defines `pow(0, 0)` and `0 ** 0` to be `1`, as is common for programming languages."
* Additional numeric operations are defined in the [math](https://docs.python.org/3/library/math.html#module-math) and [cmath](https://docs.python.org/3/library/cmath.html#module-cmath) modules
* Also see further comments and remarks at https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

https://es.wikipedia.org/wiki/Conjugado_(matem%C3%A1tica)


### Complex Numbers
* A "number that be expressed in te form $a + bi$, where $a$ and $b$ are real numbers, and $i$ is a solution of the equation $x^2 = -1$" (https://en.wikipedia.org/wiki/Complex_number)
* Real ($a$) and imaginary ($b$) part
* `j` suffic in Python (electrical engineering convention)

In [ ]:
x=2
+x

2

In [ ]:
import math
x=2.56
math.floor(x)

2

In [ ]:
math.ceil(x)

3

In [ ]:
c = 2+1j
c

(2+1j)

In [ ]:
type(c)

complex

In [ ]:
complex(2,3)

(2+3j)

## Strings
* Textual data
* Immutable sequences
* Unicode encoding in Python 3 (was ASCII in Python 2)
* Denoted with
  * Single quotes
  * Double quotes
  * Tripe quoted (double quotes preferred by PEP8): span multiple lines
* Nested quoted possible (e.g. `"a sentence with 'quoted text'."`
  
https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

In [ ]:
s = 'text'
s

'text'

In [ ]:
s = "new text"
s

'new text'

In [ ]:
s = """new text with
       new line"""
s

'new text with\n       new line'

In [ ]:
s = "a sentence with 'quoted text'."
print(s)

a sentence with 'quoted text'.

### Common Sequence Operations
* "Supported by most sequence types, both mutable and immutable"
  * String
  * List
  * Tuple
  * Range
  * ...

| Operation | Result |
|:----------|:-------|
| `x in s` | `True` if an item of s is equal to x, else `False` |
| `x not in s` | `False` if an item of s is equal to x, else `True`	|
| `s + t` | the concatenation of s and t |
| `s * n or n * s` | equivalent to adding s to itself n times |
| `s[i]` | ith item of s, origin 0 |
| `s[i:j]` | slice of s from i to j |
| `s[i:j:k]` | slice of s from i to j with step k |
| `len(s)` | length of s |
| `min(s)` | smallest item of s |
| `max(s)` | largest item of s |
| `s.index(x[, i[, j]])` | index of the first occurrence of x in s (at or after index i and before index j) |
| `s.count(x)` | total number of occurrences of x in s |

Check https://docs.python.org/3/library/stdtypes.html#typesseq-common for more details and remarks to the common sequence operations.

In [ ]:
# create a list with some elements
a = [0, 1, 2, 3]
a

[0, 1, 2, 3]

In [ ]:
# check if 2 is in list a
2 in a

True

In [ ]:
# get element at index 1 (0-based!)
a[1]

1

In [ ]:
# get element from index 1 to index 3 (exclusive)
a[1:3]

[1, 2]

In [ ]:
a[0:4:2]

[0, 2]

In [ ]:
# get the number of elements of the list
len(a)

4

In [ ]:
# get the maximum element of the list
max(a)

3

### Mutable Sequence Operations
* The following table shows operations that are defined for mutable sequence type
  * *s*: mutable sequence type
  * *x*: arbitrary object
  

| Operation | Result |
|:----------|:-------|
|`s[i] = x` | item *i* of *s* is replaced by *x* |
|`s[i:j] = t` | slice of *s* from *i* to *j* is replaced by the contents of the iterable *t* |
|`del s[i:j]` | same as `s[i:j] = []` |
|`s[i:j:k] = t` | the elements of `s[i:j:k]` are replaced by those of *t* |
|`del s[i:j:k]` | removes the elements of `s[i:j:k]` from the list |
|`s.append(x)` | appends *x* to the end of the sequence (same as `s[len(s):len(s)] = [x]`) |
|`s.clear()` | removes all items from *s* (same as `del s[:]`) |
|`s.copy()` | creates a shallow copy of *s* (same as `s[:]`) |
|`s.extend(t)` or `s += t` | extends *s* with the contents of *t* (for the most part the same as `s[len(s):len(s)] = t`) |
|`s *= n` | updates *s* with its contents repeated *n* times |
|`s.insert(i, x)` | inserts *x* into *s* at the index given by *i* (same as `s[i:i] = [x]`) |
|`s.pop([i])` | retrieves the item at *i* and also removes it from *s* |
|`s.remove(x)` | remove the first item from *s* where `s[i]` is equal to *x* |
|`s.reverse()` | reverses the items of *s* in place |

Check https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types for more details and remarks.

In [ ]:
a

[0, 1, 2, 3]

In [ ]:
# replace element at index 2 with the new value
a[2] = -1
a

[0, 1, -1, 3]

In [ ]:
# add a new element to the list
a.append(4)
a

[0, 1, -1, 3, 4]

In [ ]:
# add multiple new elements
a.extend([5, 6, 7])
a

[0, 1, -1, 3, 4, 5, 6, 7]

In [ ]:
# remove the first occurence of -1
a.remove(-1)
a

[0, 1, 3, 4, 5, 6, 7]

In [ ]:
# insert the value 2 at index 2
a.insert(2, 2)
a

[0, 1, 2, 3, 4, 5, 6, 7]

### String Methods
* All Common Sequence Operations
* All methods defined at https://docs.python.org/3/library/stdtypes.html#string-methods such as:
  * `str.endswith(suffix[, start[, end]])`: "Return `True` if the string ends with the specified *suffix*, otherwise return `False`."
  * `str.find(sub[, start[, end]])`: "Return the lowest index in the string where substring *sub* is found within the slice `s[start:end]`. Optional arguments *start* and *end* are interpreted as in slice notation. Return `-1` if *sub* is not found."
  * `str.format(*args, **kwargs)`: "Perform a string formatting operation"
  * `str.join(iterable)`: "Return a string which is the concatenation of the strings in *iterable*"
  * `str.lower()`: "Return a copy of the string with all the cased characters converted to lowercase."
  * `str.replace(old, new[, count])`: "Return a copy of the string with all occurrences of substring *old* replaced by *new*"
  * `str.split(sep=None, maxsplit=-1)`: "Return a list of the words in the string, using *sep* as the delimiter string"
  * `str.startswith(prefix[, start[, end]])`: "Return `True` if string starts with the *prefix*, otherwise return `False`"
  * `str.upper()`: "Return a copy of the string with all the cased characters converted to uppercase"
  * ...

In [ ]:
"text that ends with a word".endswith("word")

True

In [ ]:
"text".find("x")

2

In [ ]:
"3 - 2 is {}".format(3-2)

'3 - 2 is 1'

In [ ]:
"-".join(["a", "b", "c"])

'a-b-c'

In [ ]:
"TEXT".lower()

'text'

In [ ]:
"I like music".replace("music", "food")

'I like food'

In [ ]:
"a-b-c".split("-")

['a', 'b', 'c']

In [ ]:
"This sentence starts with 'This'".startswith("This")

True

In [ ]:
"text".upper()

'TEXT'

#### String  Formating with .format()

In [ ]:
"{} {}".format('one', 2)

'one 2'

In [ ]:
'{a} {b}'.format(a='one', b=2)

'one 2'

In [ ]:
'{:>10}'.format('test')

'      test'

In [ ]:
'{:<10}'.format('test')

'test      '

In [ ]:
'{:_^7}'.format('test')

'_test__'

In [ ]:
'{:.5}'.format('xylophone')

'xylop'

In [ ]:
'{:f}'.format(3.141592653589793)

'3.141593'

In [ ]:
'{:06.2f}'.format(3.141592653589793)

'003.14'

In [ ]:
'{: f}; {: f}'.format(3.14, -3.14)  # show a space for positive numbers

' 3.140000; -3.140000'

### Exercises

1- https://codingbat.com/python/String-1

2- https://codingbat.com/python/String-2

## None
* "Used to represent the absence of a value"
* "The sole value of the type `NoneType`"

https://docs.python.org/3.7/library/constants.html

In [ ]:
n = None
type(n)

NoneType

# Data Structures in Python

## Tuples
* Immutable sequences
* Can be used for homogeneous and heterogeneous data
* Constructed by:
  * Pair of parentheses `()` for an empty tuple
  * "Trailing comma for a singleton tuple" `a,` or `(a,)`
  * "Separating items with commas: `a, b, c` or `(a, b, c)`
  * Using `tuple()` or `tuple(iterable)`
* Apart from the empty tuple, the parantheses are optional: the comma makes the tuple
  
https://docs.python.org/3/library/stdtypes.html#tuples

In [ ]:
e = ()
e

()

In [ ]:
type(e)

tuple

In [ ]:
a = 1
t = (a,)
t

(1,)

In [ ]:
a, b, c = 1, 2, 3

t = (a, b, c, )

#t[0] = 4
# TypeError: 'tuple' object does not support item assignment

t

(1, 2, 3)

**Pay attention on how you define your tuples. Ambiguity!**

In [ ]:
# ['abc'] is the only element in a list of elements
tuple(['abc'])

('abc',)

In [ ]:
# 'abc' is a string sequence of three characters: tuple() expects an iterable!
tuple('abc')

('a', 'b', 'c')

In [ ]:
# + calls sequence.extend on the tuples
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [ ]:
# + sums the elements
1, 2, 3 + 4, 5

(1, 2, 7, 5)

## Lists
* Mutable sequences
* **Typically** used for homogeneous data
  * Items in the list can have different data types
* Constructed by:
  * Pair of quare brackets `[]` for an empty list
  * "Using square brackets, separating items with commas: `[a]` or `[a, b, c]`"
  * "Using a list comprehension `[x for x in iterable]`"
  * Using  `list()` or `list(iterable)`

https://docs.python.org/3/library/stdtypes.html#lists

In [ ]:
i = []
i

[]

In [ ]:
type(i)

list

In [ ]:
a = 1
i = [a]
i

[1]

In [ ]:
a, b, c = 1, 2, 3
i = [a, b, c]
i[0] = 4
i

[4, 2, 3]

In [ ]:
[x for x in [4, 5, 6]]

[4, 5, 6]

In [ ]:
i = []
for x in [4, 5, 6]:
    i.append(x)
print(i)

[4, 5, 6]

In [ ]:
list('abc')

['a', 'b', 'c']

In [ ]:
list(['abc'])

['abc']

In [ ]:
# items in a list can have different data types
for i in [1, 'a']:
    print(type(i))

<class 'int'>
<class 'str'>

### Lists vs Tuples
| -           | Lists                          | Tuples                       |
|:------------|:-------------------------------|:-----------------------------|
| Sequence    | mutable                        | imutable                     |
| Items       | homogeneous (or heterogeneous) | homogeneous or heterogeneous |
| Constructor | `list()`                       | `tuple()`                    |
| Parntheses  | `[]`                           | `()`                         |


### List Methods
* All common and mutable sequence operations
* The `sort(*, key=None, reverse=False)` method:
  * "This method sorts the list in place, using only < comparisons between items."
  * "*key* specifies a function of one argument that is used to extract a comparison key from each list element (for example, `key=str.lower`)."

In [ ]:
i = [5, 3, 7, 6, 4, 1, 9, 2, 8]
i.sort()
i

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
i.append(10)
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
i.remove(5)
i

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [ ]:
i.index(4)

3

In [ ]:
i.insert(4, 5)  # index, value
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
i.extend([11, 12, 13])
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
# removes and returns last value from the list
i.pop()
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
# removes and returns the given index value
i.pop(0)
i

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
i.pop()
i

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
i.reverse()
i

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

### Exercises

1- https://codingbat.com/python/List-1

2- https://codingbat.com/python/List-2

## Sets
* "Unordered collection of distinct hashable objects"
* Mutable with methods that can change the contents:
  * `add(elem)`
  * `discard(elem)`
  * `remove(elem)`
  * `pop()`: "Remove and return an arbitrary element from the set. Raises KeyError if the set is empty."
  * `clear()`
  * `update(*others)` or `set |= other | ...`: "Update the set, adding elements from all others."
  * `intersection_update(*others)` or `set &= other & ...`: "Update the set, keeping only elements found in it and all others."
  * `difference_update(*others)` or `set -= other | ...`: "Update the set, removing elements found in others."
  * `symmetric_difference_update(other)` or `set ^= other`: "Update the set, keeping only elements found in either set, but not in both."
* Common uses
  * Membership testing
  * Removing duplicates
  * Mathematical operations: union, intersection, (symmetric) difference
* No inserting order or indexing supported
* Constructed by
  * "Comma-separated list of elements within braces": `{0, 1, 2}`
  * Using `set()` or `set(iterable)`
  
https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset

### Frozenset
* Immutable and hashable set
* Can "be used as a dictionary key or as an element of another set"
* Constructed by using `frozenset()` or `frozenset(iterable)`

https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset


### Set Operations
For set and frozenset:
* `len(s)`: Cardinality (number of elements) of s
* `x in s`: Membership test
* `x not in s`: Non-membership test
* `isdisjoint(other)`
* `issubset(other)`
* `set <= other`: "Test whether every element in the set s is in other"
* `set < other`: "Test whether the set is a proper subset of other, that is, `set <= other` and `set != other`."
* `issuperset(other)`
* `set >= other`: "Test whether every element in other is in the set."
* `set > other`: "Test whether the set is a proper superset of other, that is, `set >= other` and `set != other`."
* `union(*others)`
* `set | other | ...`: "Return a new set with elements from the set and all others."
* `intersection(*others)`
* `set & other & ...`: "Return a new set with elements common to the set and all others."
* `difference(*others)`
* `set - other - ...`: "Return a new set with elements in the set that are not in the others."
* `symmetric_difference(other)`
* `set ^ other`: "Return a new set with elements in either the set or other but not both."
* `copy()`: "Return a shallow copy of the set."

https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset



Set Methods
Set Operations
&, |, ^ ...

In [ ]:
s = {1, 2, 3}
s

{1, 2, 3}

In [ ]:
len(s)

3

In [ ]:
0 in s

False

In [ ]:
s.add(0)
s

{0, 1, 2, 3}

In [ ]:
s.remove(3)
s

{0, 1, 2}

Sets are disjoint if and only if their intersection is the empty set.

In [ ]:
t = {0, 1, 2, 3, 4, 5}
s.isdisjoint(t)

False

In [ ]:
s.issubset(t)

True

In [ ]:
s <= t

True

In [ ]:
s > t

False

In [ ]:
u = s.union(t)
u

{0, 1, 2, 3, 4, 5}

In [ ]:
s.intersection(t)

{0, 1, 2}

In [ ]:
s.difference(t)

set()

In [ ]:
t.symmetric_difference(s)

{3, 4, 5}

In [ ]:
s.pop()
s

{1, 2}

In [ ]:
s.clear()
s

set()

## Dictonaries
* Mutable mapping object
* "Maps hashable values to arbitrary objects"
* Created by
  * Pair of braces `{}` for an empty dict
  * "Comma-separated list of `key: value` pairs within braces": `{'a': 12, 'b': 8, 'c': 2}`
  * Using `dict()`, `dict(mapping)`, or `dict(iterable)`

https://docs.python.org/3/library/stdtypes.html#mapping-types-dict

### Dictionary Operations

* `len(d)`
* `d[key]`: "Return the item of *d* with key *key*. Raises a KeyError if *key* is not in the map."
* `d[key] = value`: "Set `d[key]` to *value*."
* `del d[key]`: "Remove `d[key]` from *d*. Raises a KeyError if *key* is not in the map."
* `key in d`: "Return `True` if *d* has a key *key*, else `False`."
* `key not in d`: "Equivalent to `not key in d`."
* `iter(d)`: "Return an iterator over the keys of the dictionary. This is a shortcut for `iter(d.keys())`.:
* `clear()`" "Remove all items from the dictionary."
* `copy()`: "Return a shallow copy of the dictionary."
* `fromkeys(iterable[, value])`: "Create a new dictionary with keys from *iterable* and values set to *value*. `fromkeys()` is a class method that returns a new dictionary. *value* defaults to `None`."
* `get(key[, default])`: "Return the value for *key* if *key* is in the dictionary, else *default*. If *default* is not given, it defaults to `None`, so that this method never raises a KeyError."
* `items()`: "Return a new view of the dictionarys items (`(key, value)` pairs). See the [documentation of view objects](https://docs.python.org/3/library/stdtypes.html#dict-views)."
* `keys()`: "Return a new view of the dictionarys keys. See the [documentation of view objects](https://docs.python.org/3/library/stdtypes.html#dict-views)."
* `pop(key[, default])`: "If *key* is in the dictionary, remove it and return its value, else return *default*. If *default* is not given and *key* is not in the dictionary, a KeyError is raised.
* `popitem()`: "Remove and return a `(key, value)` pair from the dictionary. Pairs are returned in LIFO (Last In First Out) order. `popitem()` is useful to destructively iterate over a dictionary, as often used in set algorithms. If the dictionary is empty, calling `popitem()` raises a KeyError."
* `setdefault(key[, default])`: "If *key* is in the dictionary, return its value. If not, insert *key* with a value of *default* and return *default*. *default* defaults to `None`."
* `update([other])`: "Update the dictionary with the key/value pairs from *other*, overwriting existing keys. Return `None`. `update()` accepts either another dictionary object or an iterable of key/value pairs (as tuples or other iterables of length two). If keyword arguments are specified, the dictionary is then updated with those key/value pairs: `d.update(red=1, blue=2)`."
* `values()`: "Return a new view of the dictionarys values. See the [documentation of view objects](https://docs.python.org/3/library/stdtypes.html#dict-views)."

https://docs.python.org/3/library/stdtypes.html#mapping-types-dict

In [ ]:
d = {}
type(d)

dict

In [ ]:
d = {"one": 1, "two": 2, "three": 3, "four": 4}
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [ ]:
d.items()

dict_items([('one', 1), ('two', 2), ('three', 3), ('four', 4)])

In [ ]:
for key, value in d.items():
    print(key, value)

one 1
two 2
three 3
four 4

In [ ]:
d.keys()

dict_keys(['one', 'two', 'three', 'four'])

In [ ]:
d.values()

dict_values([1, 2, 3, 4])

In [ ]:
d.get("two")

2

In [ ]:
"zero" in d

False

In [ ]:
d["zero"] = 0
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'zero': 0}

In [ ]:
"zero" in d

True

In [ ]:
d.update({"five": 5, "six": 6})
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'zero': 0, 'five': 5, 'six': 6}

In [ ]:
d.pop("six")
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'zero': 0, 'five': 5}

In [ ]:
del d["five"]
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'zero': 0}

In [ ]:
d.clear()
d

{}

# Converting Data Types
and using the constructors to create data types.

In [ ]:
# Converting float to integer
int(1.1)

1

In [ ]:
# converting integer to float
float(1)

1.0

In [ ]:
# converting integer to hex number
hex(1)

'0x1'

In [ ]:
# converting float to string
str(1.0)

'1.0'

In [ ]:
# converting int to string
str(1)

'1'

In [ ]:
# creating a tuple using a string
tuple('a')

('a',)

In [ ]:
# creating a set using a string
set('a')

{'a'}

In [ ]:
# creating a list using a string
list('a')

['a']

In [ ]:
# creating a dictionary using a mapping
dict([('one', 1)])

{'one': 1}

In [ ]:
# creating a dictionary using keyword arguments
dict(one=1)

{'one': 1}

# Functions vs Methods
* Functions and methods are defined using the `def` keyword.
* "It must be followed by the function name and the parenthesized list of parameters".
* Use `lower_case_with_underscores` for function and method names.
* The function statements are indented.
* Docstring (Documentation string) should be the first statement after the function definition.

## Functions
* Object indepdendent
* Piece of code
* Build-in functions https://docs.python.org/3/library/functions.html
  * `dict()`
  * `float()`
  * `format()`
  * `int()`
  * `iter()`
  * `len()`
  * `list()`
  * `max()`
  * `min()`
  * `next()`
  * `open()`
  * `print()`
  * `range()`
  * `round()`
  * `set()`
  * `sorted()`
  * `str()`
  * `sum()`
  * `tuple()`
  * `type()`
  * `zip()`
  * ...
  
### Defining Functions
* "The keyword `def` introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented."
* "The first statement of the function body can optionally be a string literal; this string literal is the functions documentation string, or *docstring*."
* "A function definition defines a user-defined function object"
* "A function definition is an executable statement"
* "Its execution binds the function name in the current local namespace to a function object"
* "The function definition does not execute the function body; this gets executed only when the function is called"

https://docs.python.org/3/tutorial/controlflow.html#defining-functions

https://docs.python.org/3/reference/compound_stmts.html#function

In [ ]:
# define a function
def a_function_that_does_nothing():
    pass

# call the function
a_function_that_does_nothing()

In [ ]:
# simple function that returns the sum of the two arguments
def sum_numbers(a, b):
    return a+b

sum_numbers(3, 5)

8

### Arguments vs Parameters
* **Parameters:** the names of variables in the function definition
* **Arguments:** "the values actually passed to a function when calling it"

`def f(x, y, z=0):
    pass`

*x*, *y*, and *z* are the parameters of `f`.

`f(3, 2, 1)`

the values `3`, `2`, and `1` are the arguments passed to the function `f`.

https://docs.python.org/3/faq/programming.html#what-is-the-difference-between-arguments-and-parameters

### Function Parameters
* "A named entity in a function (or method) definition that specifies an argument (or in some cases, arguments) that the function can accept"
* Kinds of parameter:
  * **positional-or-keyword:** "specifies an argument that can be passed either positionally or as a keyword argument. This is the default kind of parameter, for example foo and bar in the following: `def funct(foo, bar=None): ...`"
  * **positional-only:** "specifies an argument that can be supplied only by position. Python has no syntax for defining positional-only parameters. However, some built-in functions have positional-only parameters (e.g. `abs()`)."
  * **keyword-only:** "specifies an argument that can be supplied only by keyword. Keyword-only parameters can be defined by including a single var-positional parameter or bare * in the parameter list of the function definition before them, for example kw_only1 and kw_only2 in the following: `def func(arg, *, kw_only1, kw_only2): ...`"
  * **var-positional:** "specifies that an arbitrary sequence of positional arguments can be provided (in addition to any positional arguments already accepted by other parameters). Such a parameter can be defined by prepending the parameter name with `*`, for example args in the following: `def func(*args, **kwargs): ...`"
  * **var-keyword:** "specifies that arbitrarily many keyword arguments can be provided (in addition to any keyword arguments already accepted by other parameters). Such a parameter can be defined by prepending the parameter name with `**`, for example kwargs in the example above."

### Default Parameter Values
* "When one or more parameters have the form `parameter = expression`, the function is said to have 'default parameter values'"
* "For a parameter with a default value, the corresponding argument may be omitted from a call, in which case the parameters default value is substituted"
* "If a parameter has a default value, all following parameters up until the '`*`' must also have a default value  this is a syntactic restriction that is not expressed by the grammar."
* "**Default parameter values are evaluated from left to right when the function definition is executed**"
* "The expression is evaluated once, when the function is defined, and that the same pre-computed value is used for each call" (see also https://docs.python.org/3/faq/programming.html#why-are-default-values-shared-between-objects)
* "When a default parameter is a mutable object, such as a list or a dictionary: if the function modifies the object (e.g. by appending an item to a list), the default value is in effect modified"


https://docs.python.org/3/glossary.html#term-parameter

https://docs.python.org/3/tutorial/controlflow.html#more-on-defining-functions

https://docs.python.org/3/reference/compound_stmts.html#function

In [ ]:
def square_number(x):
    """This function returns the input value multiplied with itself"""
    return x*x

square_number(3)

9

In [ ]:
def square_number_and_add_value(x, a=10):
    """
    This function squares the input value x and then adds
    a value a to it (a defaults to 10).
    """
    return (x*x) + a

square_number_and_add_value(3)

19

In [ ]:
square_number_and_add_value(3, 0)

9

###  Lambda Expressions
"Small anonymous functions can be created with the ```lambda``` keyword. This function returns the sum of its two arguments: ```lambda a, b: a+b```. ```lambda``` functions can be used wherever function objects are required. They are syntactically restricted to a single expression. Semantically, they are just syntactic sugar for a normal function definition. Like nested function definitions, ```lambda``` functions can reference variables from the containing scope."

https://docs.python.org/3/tutorial/controlflow.html?highlight=lambda#lambda-expressions

In [ ]:
# use a lambda expression to return a function
# example from https://docs.python.org/3/tutorial/controlflow.html?highlight=lambda#lambda-expressions
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)

print(f(0))

print(f(1))

42
43

In [ ]:
# pass a small function as an argument
# example from https://docs.python.org/3/tutorial/controlflow.html?highlight=lambda#lambda-expressions
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [ ]:
# define anonymous functions
multiply = lambda x, y: x * y
add = lambda x, y: x + y

print(multiply(5, 3))
print(add(4, 7))

15
11

In [ ]:
# lambda function with *args
lambda_args = lambda *args: sum(args)
lambda_args(10, 21, 45)

76

In [ ]:
# sum tuples of arbitraray length
[lambda_args(*x_tuple) for x_tuple in [(1, 2), (1, 4, 6), (3, 6, 10, 6)]]

[3, 11, 25]

In [ ]:
# Make a list comprehension to increase the values in alist by 2
alist = [2, 3, 4, 5, -10]
add = lambda x: x + 2

[add(a) for a in alist]

[4, 5, 6, 7, -8]

In [ ]:
numeros=[2,4,6]
pares=lambda x:not(x%2)

sum([pares(a) for a in numeros])

3

In [ ]:
not(4%2)

True

## Methods
* Object dependent (linked to an object)
* "A function that 'belongs' to an object" (https://docs.python.org/3/tutorial/controlflow.html#defining-functions)
* "Always use self as the name for the first method argument" (https://docs.python.org/3/tutorial/controlflow.html#intermezzo-coding-style)


https://docs.python.org/3/tutorial/controlflow.html#defining-functions
https://www.geeksforgeeks.org/difference-method-function-python/

In [ ]:
class MyClass:
    """
    A simple example class
    Example from https://docs.python.org/3/tutorial/classes.html
    """
    i = 12345

    def f(self):
        return 'hello world'

In [ ]:
x = MyClass()
x

In [ ]:
x.f()

'hello world'

## Scopes and Namespaces

"A namespace is a mapping from names to objects. (...) The important thing to know about namespaces is that there is absolutely no relation between names in different namespaces; for instance, two different modules may both define a function ```maximize``` without confusion  users of the modules must prefix it with the module name."

"A scope is a textual region of a Python program where a namespace is directly accessible. Directly accessible here means that an unqualified reference to a name attempts to find the name in the namespace.

Although scopes are determined statically, they are used dynamically. At any time during execution, there are at least three nested scopes whose namespaces are directly accessible:
* the innermost scope, which is searched first, contains the local names
* the scopes of any enclosing functions, which are searched starting with the nearest enclosing scope, contains non-local, but also non-global names
* the next-to-last scope contains the current modules global names
* the outermost scope (searched last) is the namespace containing built-in names"

https://docs.python.org/3/tutorial/classes.html#python-scopes-and-namespaces


"Variables that are defined inside a function body have a local scope, and those defined outside have a global scope.  

This means that local variables can be accessed only inside the function in which they are declared, whereas global variables can be accessed throughout the program body by all functions. When you call a function, the variables declared inside it are brought into scope."

https://pylessons.com/Python-3-basics-tutorial-global-local-variables/


### The ```global``` statement

"The ```global``` statement is a declaration which holds for the entire current code block. It means that the listed identifiers are to be interpreted as globals."

https://docs.python.org/3/reference/simple_stmts.html#the-global-statement


Examples from https://www.programiz.com/python-programming/namespace:

In [ ]:
def outer_function():
    a = 20
    def inner_function():
        a = 30
        print('inner a =',a)

    inner_function()
    print('outer a =',a)

a = 10
outer_function()
print('main a =',a)

inner a = 30
outer a = 20
main a = 10

In [ ]:
def outer_function():
    global a
    b = 20
    a = 20
    def inner_function():
        global a
        nonlocal b
        a = 30
        b = 30
        print('inner a =', a)
        print('inner b =', b)

    inner_function()
    print('outer a =', a)
    print('outer b =', b)

a = 10
b = 10
outer_function()
print('main a =', a)
print('main b =', b)

inner a = 30
inner b = 30
outer a = 30
outer b = 30
main a = 30
main b = 10

# Classes and Objects
* "Objects are Pythons abstraction for data."
* **"All data in a Python program is represented by objects or by relations between objects."**
* "Every object has an identity, a type and a value."
* "An objects identity never changes once it has been created; you may think of it as the objects address in memory."
* "The `is` operator compares the identity of two objects."
* "The `id()` function returns an integer representing its identity."

https://docs.python.org/dev/reference/datamodel.html

* Classes are defined using the `class` keyword.
* Use the `CamelCase` syntax for class names
* "Creating a new class creates a new *type* of object, allowing new *instances* of that type to be made."

https://docs.python.org/3/tutorial/classes.html

In [ ]:
# user defined class
class Book():
    pass

# create an instance of the Book class
b = Book()
# check the type of the instance
type(b)

__main__.Book

In [ ]:
# get the identiy integer of the instance e
id(b)

1771256143688

In [ ]:
# create a second instance of the Book class
c = Book()
# check for the identity of the two instances
b is c

False

In [ ]:
# create a new variable that points to the e instance
b2 = b
# check for the identity of the two variables b and b2
b is b2

True

## ```self ```


"Often, the first argument of a method is called ```self```. This is nothing more than a convention: the name ```self``` has absolutely no special meaning to Python. Note, however, that by not following the convention your code may be less readable to other Python programmers, and it is also conceivable that a *class browser* program might be written that relies upon such a convention."


"Methods may call other methods by using method attributes of the ```self``` argument:

```python
class Bag:
    def __init__(self):
        self.data = []

    def add(self, x):
        self.data.append(x)

    def addtwice(self, x):
        self.add(x)
        self.add(x)
```
"

https://docs.python.org/3/tutorial/classes.html#random-remarks


## __init()__

"The instantiation operation (calling a class object) creates an empty object. Many classes like to create objects with instances customized to a specific initial state. Therefore a class may define a special method named ```__init__()```, like this:

```python
def __init__(self):
    self.data = []
```

When a class defines an ```__init__()``` method, class instantiation automatically invokes ```__init__()``` for the newly-created class instance. So in this example, a new, initialized instance can be obtained by:

```python
x = MyClass()
```


Of course, the ```__init__()``` method may have arguments for greater flexibility. In that case, arguments given to the class instantiation operator are passed on to ```__init__()```. For example,

```python
>>> class Complex:
...     def __init__(self, realpart, imagpart):
...         self.r = realpart
...         self.i = imagpart
...
>>> x = Complex(3.0, -4.5)
>>> x.r, x.i
(3.0, -4.5)
```

Methods may reference global names in the same way as ordinary functions. The global scope associated with a method is the module containing its definition. (A class is never used as a global scope.) While one rarely encounters a good reason for using global data in a method, there are many legitimate uses of the global scope: for one thing, functions and modules imported into the global scope can be used by methods, as well as functions and classes defined in it. Usually, the class containing the method is itself defined in this global scope, and in the next section well find some good reasons why a method would want to reference its own class.

Each value is an object, and therefore has a class (also called its type). It is stored as ```object.__class__```."

https://docs.python.org/3/tutorial/classes.html#class-objects

## Inheritance


"Of course, a language feature would not be worthy of the name class without supporting inheritance. The syntax for a derived class definition looks like this:

```python
class DerivedClassName(BaseClassName):
    <statement-1>
    .
    .
    .
    <statement-N>
```
The name ```BaseClassName``` must be defined in a scope containing the derived class definition. In place of a base class name, other arbitrary expressions are also allowed. This can be useful, for example, when the base class is defined in another module:

```python
class DerivedClassName(modname.BaseClassName):
```

Execution of a derived class definition proceeds the same as for a base class. When the class object is constructed, the base class is remembered. This is used for resolving attribute references: if a requested attribute is not found in the class, the search proceeds to look in the base class. This rule is applied recursively if the base class itself is derived from some other class.

Theres nothing special about instantiation of derived classes: ```DerivedClassName()``` creates a new instance of the class. Method references are resolved as follows: the corresponding class attribute is searched, descending down the chain of base classes if necessary, and the method reference is valid if this yields a function object.

Derived classes may override methods of their base classes. Because methods have no special privileges when calling other methods of the same object, a method of a base class that calls another method defined in the same base class may end up calling a method of a derived class that overrides it. (For C++ programmers: all methods in Python are effectively ```virtual```.)

An overriding method in a derived class may in fact want to extend rather than simply replace the base class method of the same name. There is a simple way to call the base class method directly: just call ```BaseClassName.methodname(self, arguments)```. This is occasionally useful to clients as well. (Note that this only works if the base class is accessible as ```BaseClassName``` in the global scope.)

Python has two built-in functions that work with inheritance:
* Use ```isinstance()``` to check an instances type: ```isinstance(obj, int)``` will be ```True``` only if ```obj.__class__``` is ```int``` or some class derived from ```int```.
* Use ```issubclass()``` to check class inheritance: ```issubclass(bool, int)``` is ```True``` since bool is a subclass of ```int```. However, ```issubclass(float, int)``` is ```False``` since ```float``` is not a subclass of ```int```."

https://docs.python.org/3/tutorial/classes.html#inheritance

In [ ]:
# example from https://www.w3schools.com/python/python_inheritance.asp
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

x = Person("John", "Doe")
x.printname()

John Doe

In [ ]:
class Student(Person):
    pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

# Exercises

## Data Types
Questions from https://www.w3resource.com/python-exercises/python-data-types.php.
* Write a Python program to test whether an input is an integer.
* Write a Python program to sort (ascending and descending) a dictionary by value.
* Write a Python program to check if a given key already exists in a dictionary.
* Write a Python program to remove duplicates from a list.
* Write a Python program to check a list is empty or not.
* Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
# input is integer
isinstance(3, int)

True

In [ ]:
a = 3
a == int(a)

True

In [ ]:
type(3.0) == int

False

In [ ]:
# sort dict
d = {'one': 1, 'two':2}
sorted(d.items(), key=lambda x: x[1], reverse=True)

[('two', 2), ('one', 1)]

In [ ]:
# check key in dict
'two' in d

True

In [ ]:
# remove duplicates from list
set([1, 2, 3, 1, 2, 3])

{1, 2, 3}

In [ ]:
# check empty list
print(not [])

print(not [1, 2])

True
False

In [ ]:
not ''

True

In [ ]:
len([]) == 0

True

In [ ]:
# check common member in lists

def check_common(a, b):
    for i in a:
        if i in b:
            return True
    return False


a = [1, 2, 3]
b = [3, 4, 5]

check_common(a, b)

True

In [ ]:
a = set([1, 2, 3])
b = set([3, 4, 5])

a.intersection(b)

{3}

## Functions
Some questions from https://www.w3resource.com/python-exercises/python-functions-exercises.php.
* Write a Python function to find the Max of three numbers.
* Write a Python function to sum all the numbers in a list.
* Write a Python program to reverse a string. Go to the editor. Sample String : "1234abcd". Expected Output : "dcba4321".
* Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.
* Write a Python function to check whether a number is in a given range.
* Define a `lambda` function to double a value.
* Use the `lambda` function to double values in a list [10, 12, 14, 16]. Use list comprehension.
* Define a function that returns `min()` and `max()` based on string input.

In [ ]:
# max of 3 numbers
def max_of_three(a, b, c):
    return max([a, b, c])
max_of_three(1, 2, 3)

3

In [ ]:
# sum of list
def sum_of_list(a):
    return sum(a)
sum_of_list([1, 2, 3])

6

In [ ]:
# reverse string
"1234abcd"[::-1]

'dcba4321'

In [ ]:
def rev(s):
    r = ''
    for i in range(len(s), 0, -1):
        r += s[i-1]
        #r = r+s[i-1]
    return r
rev('abcd')

'dcba'

In [ ]:
# factorial
def fac(a):
    if a > 0:
        return a*fac(a-1)
    else:
        return 1
fac(5)

120

In [ ]:
# number in range
i = 3
if i in range(0, 9):
    print("{} in range".format(i))

3 in range

In [ ]:
# lambda function to double a value
double = lambda x: x*2
double(4)

8

In [ ]:
# list comprehension to double values in a list
[double(x) for x in [1, 2, 3, 4]]

[2, 4, 6, 8]

In [ ]:
# Define a function that returns min() and max() based on string input.
def mm(i, f):
    if f=='min':
        return min(i)
    elif f=='max':
        return max(i)
    print("function {} not found".format(f))
mm([1, 2, 3], 'max')

3

## Classes
Questions from https://www.w3resource.com/python-exercises/class-exercises/index.php.
* Write a Python class to convert an integer to a roman numeral.
* Write a Python class named Circle constructed by a radius and two methods which will compute the area and the perimeter of a circle.

# Exercise Solutions
## Data Types

In [ ]:
# Write a Python program to test whether an input is an integer.
# https://www.w3resource.com/python-exercises/python-data-type-exercise-16.php
def is_integer(n):
    try:
        n= int(n)
        print("valid integer :", n)
    except ValueError as err:
        print(err)
is_integer(15)
is_integer(5.65)
is_integer('5.65')

valid integer : 15
valid integer : 5
invalid literal for int() with base 10: '5.65'

In [ ]:
# Write a Python program to sort (ascending and descending) a dictionary by value.
# https://www.w3resource.com/python-exercises/python-data-type-exercise-17.php

import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)

sorted_d = sorted(d.items(), key=operator.itemgetter(0))
print('Dictionary in ascending order by value : ',sorted_d)

sorted_d = sorted(d.items(), key=operator.itemgetter(0),reverse=True)
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  [(0, 0), (1, 2), (2, 1), (3, 4), (4, 3)]
Dictionary in descending order by value :  [(4, 3), (3, 4), (2, 1), (1, 2), (0, 0)]

In [ ]:
# Write a Python program to check if a given key already exists in a dictionary.
# https://www.w3resource.com/python-exercises/python-data-type-exercise-21.php

d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
    if x in d:
        print('Key is present in the dictionary')
    else:
        print('Key is not present in the dictionary')

is_key_present(5)
is_key_present(9)

Key is present in the dictionary
Key is not present in the dictionary

In [ ]:
# Write a Python program to remove duplicates from a list.
# https://www.w3resource.com/python-exercises/python-data-type-exercise-23.php

a = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

In [ ]:
# Write a Python program to check a list is empty or not.
# https://www.w3resource.com/python-exercises/python-data-type-exercise-24.php

l = []
if not l:
    print("List is empty")

List is empty

In [ ]:
# Write a Python function that takes two lists and returns True if they have at least one common member.
# https://www.w3resource.com/python-exercises/python-data-type-exercise-31.php

def common_data(list1, list2):
    result = False
    for x in list1:
        for y in list2:
            if x == y:
                result = True
                return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

## Functions

In [ ]:
# Write a Python function to find the Max of three numbers.
# https://www.w3resource.com/python-exercises/python-functions-exercise-1.php

def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(3, 6, -5))

6

In [ ]:
# Write a Python function to sum all the numbers in a list.
# https://www.w3resource.com/python-exercises/python-functions-exercise-2.php
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((8, 2, 3, 0, 7)))

20

In [ ]:
# Write a Python program to reverse a string. Go to the editor.
# Sample String : "1234abcd". Expected Output : "dcba4321".
# https://www.w3resource.com/python-exercises/python-functions-exercise-4.php

def string_reverse(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1
print(string_reverse('1234abcd'))

dcba4321

In [ ]:
# Write a Python function to calculate the factorial of a number (a non-negative integer).
# The function accepts the number as an argument.
# https://www.w3resource.com/python-exercises/python-functions-exercise-5.php

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

KeyboardInterrupt: Interrupted by user

In [ ]:
# Write a Python function to check whether a number is in a given range.
# https://www.w3resource.com/python-exercises/python-functions-exercise-6.php

def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

In [ ]:
# Define a `lambda` function to double a value.
lambda_f = (lambda x: 2 * x)

In [ ]:
# Use the `lambda` function to double values in a list [10, 12, 14, 16]. Use list comprehension.
([lambda_f(x) for x in [10, 12, 14, 16]])

In [ ]:
# Define a function that returns `min()` and `max()` based on string input.
alist = [10, 40, 12, 14, 16]

def output(value_list, some_func):
    print(some_func(value_list))
    return some_func(value_list)


result1 = output(alist, max)

## Classes

In [ ]:
# Write a Python class to convert an integer to a roman numeral.
# https://www.w3resource.com/python-exercises/class-exercises/python-class-exercise-1.php

class Roman:
    def int_to_Roman(self, num):
        val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4,
            1
            ]
        syb = [
            "M", "CM", "D", "CD",
            "C", "XC", "L", "XL",
            "X", "IX", "V", "IV",
            "I"
            ]
        roman_num = ''
        i = 0
        while  num > 0:
            for _ in range(num // val[i]):
                roman_num += syb[i]
                num -= val[i]
            i += 1
        return roman_num


print(Roman().int_to_Roman(1))
print(Roman().int_to_Roman(2019))
print(Roman().int_to_Roman(4000))

In [ ]:
# Write a Python class named Circle constructed by a radius and two methods which will compute
# the area and the perimeter of a circle.
# https://www.w3resource.com/python-exercises/class-exercises/python-class-exercise-11.php

class Circle():
    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14

    def perimeter(self):
        return 2*self.radius*3.14

NewCircle = Circle(8)
print(NewCircle.area())
print(NewCircle.perimeter())